.navbar {
  background: #fff;
}

.navbar .nav-link {
  color: #000;
  margin: 0 10px;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #6f42c1;
  text-decoration: none;
}

.navbar .text-primary {
  color: #6f42c1 !important;
}

.badge {
  min-width: 16px;
  padding: 3px 6px;
  color: black;
}
.badge {
  font-size: 0.75rem;
  padding: 4px 8px;
}

